
body {
    margin:0;
    display: flex;
    flex-direction: column;
/*    height: 100vh;*/
/*    flex:1;*/
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/*img{
    height: 60px;
    width: 60px;
}*/
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
    align-content:center;   
}
.logo p{
    margin: 0;
    margin-left:10px;
    font-size:24px;
}
.search-box{
    background-color: #e5e5e580;
    width: 50%;
    padding: 12px 20px;
    display:flex;
    border-radius:20px;
    
}
.search-box input:focus::placeholder{
    color: transparent;
    
}
.search-box input{
    border:none;
    margin-left:10px;
    background-color:transparent;
    width:100%;
    font-size:20px;
}
.search-box input:focus {
    outline: none;
}
.search-box input::placeholder {
    color: #252323;
    font-size: 20px;
    border: none;
}
.nav-bar .left-nav{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin-right: 20px;
    width: 20%;
    align-items: center;
}
.nav-bar .left-nav .prof-icon {
    width: 60px;
    height: 60px;
    background-color: #e5e5e580;
    border-radius: 50%;
    margin-right: 40px;
}
.nav-bar .left-nav .notif-icon {
    width: 60px;
    height: 60px;
    background-color: #e5e5e580;
    border-radius: 50%;
    margin-right: 20px;
    align-content: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .left-nav .notif-icon i::before {
    font-size: 35px;
}

/* side bar */
.main-body {
    display: flex;
    flex-direction: row;
    height: fit-content;
/*    min-height: 100vh;*/
    flex: 1;
}
.side-bar{
    margin-left: 30px;
    width: 13%;
}
.side-bar .options{
    margin-top: 20px;
    font-size: 20px;
}
.side-bar .options .feed {
    background-color: #e5e5e580;
    color: dodgerblue;
}
.side-bar .options a {
display: block;
padding: 10px;
        
}
.side-bar .options a i {
color: dodgerblue;
}
.side-bar .options a:hover {
background-color: #e5e5e580;
}
.side-bar .options a:hover span {
    color: dodgerblue;
}
.side-bar .options a span {
    margin-left: 10px;
}
.side-bar .options .friends {
    margin-bottom: 10px;
}
.side-bar .options .pages {
    border-top: 1px solid #e5e7eb;
    
}
/*.side-bar .pages .settings{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content:center;
}   */
.side-bar .options .pages .pages-span{
    margin-top: 10px;
    margin-bottom: 10px;
}
.side-bar .pages .settings .settings-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.side-bar .pages .settings .settings-btn span{
    margin-left:10px;
}
.side-bar .pages .settings:hover {
    background-color: #e5e5e580;
}
.main-body .time-line .status{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 60px;
}

.main-body .time-line .status .const-status {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e5e5e580;
    border: 1px dashed #808080;
}

.main-body .time-line .status .const-status .camera-icon{
    font-size: 30px;
    color: #625d5d;
}

.main-body .time-line .status .temp-status {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e5e5e580;
    margin-left: 12px;
    animation: fadeColor .7s infinite alternate;
}

@keyframes fadeColor {
    0% {
        opacity: 0.4;
    }
    
    100% {
        opacity: 1;
    }
}

.main-body .time-line{
    width: 55%;
    background-color: rgb(230, 227, 227, 0.1);
    display:flex;
    flex-direction:column;
}

.main-body .time-line .posting {
    padding: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;

}

.main-body .time-line .posting .text-box {
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-right: 15px;
    background-color: rgb(233, 233, 233, 0.3);
    font-size: 20px;
    color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
}

.main-body .time-line .posting .upload-image {
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(246, 105, 105, 0.2);
    border-radius: 10px;
    padding: 15px 20px 15px;
}
.main-body .time-line .posting .upload-image i{
    color: rgb(236, 33, 33);
    font-size: 24px;
}
.main-body .time-line .posts {
/*    padding: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;*/
    display: flex;
    justify-content: center;
/*    background-color: rgb(230, 227, 227, 0.1);*/
/*    box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
/*    border-radius: 10px;
    font-size: 19px;*/
/*    color: rgb(0, 0, 0, 0.7);*/
    text-align: center;
    flex-direction: column;
    width:100%;
}
.right-side {
    background-color: rgb(230, 227, 227, 0.1);
    width: 32%;
}
.right-side .suggestions {
    margin-top: 20px;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.main-body .right-side .suggestions .people{
    display:flex;
    flex-direction: column;
}

.main-body .right-side .suggestions .people .person{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    justify-content: space-between;
}
.main-body .right-side .suggestions .people .person .image-with-followers{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.main-body .right-side .suggestions .people .person .image-with-followers .sugg-image{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.main-body .right-side .suggestions .people .person .image-with-followers .name-followers{
    margin-left:15px;
}
.main-body .right-side .suggestions .people .person .image-with-followers .sugg-image img {
    border-radius: 50%;
}
.main-body .right-side .suggestions .people-know {
    font-size: 24px;
    font-weight: bold;
    font-family:Arial;
    margin:0;
    margin-bottom:5px;
}
.main-body .right-side .suggestions .people .person .follow-btn {
    border: none;
    cursor: pointer;
    margin-left: 20px;
    background-color: rgb(230, 245, 255);
    border-radius: 7px;
    width:90px;
    height:40px;
    padding:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.main-body .right-side .suggestions .people .person .follow-btn p {
    color: rgb(7, 130, 180);
    font-weight: bold;
    font-family: Arial;
    font-size:15px;
    padding:0;
}
.main-body .right-side .trends {
    margin-top: 20px;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.main-body .right-side .trends .trends-for-you {
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    margin:0;
}
.main-body .right-side .trends .hastags{
    margin-top:20px;
}
#modal-div {
    opacity: 0;
    display:none;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
#modal-div.show {
    opacity:1;
    display: flex;
/*    flex-direction: row;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
/*    flex:1;*/
    z-index: 2;
/*    inset: 0;*/
}
#form-container{
    display:none;
}
#form-container.show{
    display: inline-block;
    position: relative;
}
#create-post {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3;
    border-radius: 8px;
    width: 40%;
    display: block;
    transition: 0.3s;
}
/*#create-post.show{
    display:block;
}*/
#create-post .modal-head{
    border-bottom: 1px solid #e5e7eb;
    display:flex;
    padding:13px 5px 10px;
    justify-content:center;
    
}
#create-post .modal-head p{
    width: 90%;
    display: flex;
    text-align: center;
    justify-content:center;
    font-weight: bold;
    font-family: Arial;
    margin:0;
    padding:0;
    align-items:center;
    color:#2e2c2c;
    opacity:0.8;
}
#create-post .modal-head button {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
    color:#0f0f0f;
    opacity: 0.7;
}
#create-post textarea{
    border:none;
    display:block;
    padding: 20px;
    font-size:24px;
    width:100%;
    resize: none; 
    font-family:Arial;
}
#create-post textarea::placeholder{
    word-spacing:normal;
    white-space:normal;
}
#create-post textarea:focus {
    outline: none;
}
#create-post .up-image{
    padding:10px 0px 20px 20px;
}

#create-post .up-image #uploadBtn{
    opacity: 0.7;
    border:1px solid #0000009f;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    font-size:15px;
    font-family:Arial;
    font-weight:bold;
    background-color:rgb(173, 216, 230);
    color:blue;
    cursor:pointer;
}
#create-post .up-image #uploadBtn i{
    margin-right:3px;
    color:blue;
}
#create-post .post-img{
    padding:10px;
    max-height: 300px;
    width:calc(100%-20px);
    display:flex;
    justify-content:center; 
}
#create-post .post-img img{
    max-height: 100%;
    display:none;   
    max-width:100%;
    margin-top:10px;
}
#create-post .create-btn-div{
    padding: 15px 0px 15px 20px;
}
#create-post #create-btn{
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    cursor:pointer;
    color:white;
    background-color:#4e8cff;
    outline:none;
    border:none;
    border-radius: 4px;
    padding: 7px 35px 7px 35px;
}

#post{
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
}

#post .post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#post .post-header .user-name-and-image{
    display:flex;
    flex-direction:row;
    align-items:center;
}
#post .post-header .user-name-and-image .post-username{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
#post .post-header .user-name-and-image .post-username img{
    border-radius: 50%;
    height:45px; 
    width:45px
}
#post .post-header .user-name-and-image  .post-date-and-user {
    margin-left:15px;
}
#post .post-header .user-name-and-image  .post-date-and-user p{
    margin:0;
    text-align:start;
}
#post .post-header .setting-points{
    margin-top: 15px;
    position: relative;
}
#post .post-header .setting-points a.setting-points-container{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    width:fit-content;
    height:fit-content;
    cursor:pointer;
}
#post .post-header .setting-points a.setting-points-container span{
    width:5px;
    height:5px;
    border-radius:50%;
    background-color:#252323;
    margin-left: 1.2px;
}

#post .created-post-text{
    margin-top:20px;
}
#post .created-post-text textarea{
    border:none;
    display:block;
    font-size:24px;
    width:100%;
    height:fit-content;
    resize: none; 
    font-family:Arial;
}
#post .created-post-image{
    padding:10px;
    max-height: 300px;
    width:calc(100%-20px);
    display:flex;
    justify-content:center; 
}
#post .created-post-image img{
    max-height: 100%;
    max-width:100%;
    margin-top:10px;
}

#post .setting-points .post-user-settings,#post .setting-points .post-friend-settings{
    
    display: none;
    position: absolute;
    width: 120px;
    height: 120px;
    top:6px;
    right:10px;
    background-color:#e5e5e580;
    border-radius: 3px;
    flex-direction:column;
}

#post .setting-points .post-user-settings.show,#post .setting-points .post-friend-settings.show{
    display: flex;
}
#post .setting-points .post-user-settings div,#post .setting-points .post-friend-settings div{
    text-align: center;
    height: calc(100%/3);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#post .setting-points .post-user-settings div a, #post .setting-points .post-friend-settings div a{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Calibri;
    color: rgb(0, 0, 0, 0.7);
    width: 100%;
}
#post .setting-points .post-user-settings div:hover, #post .setting-points .post-friend-settings div:hover{
    background-color: #e5e5e580;
}






    








